* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(42, 62, 81);
  color: #eee;
  font-family: "Roboto", sans-serif;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  min-width: 600px;
  height: 500px;
}
h1 {
  font-weight: 100;
  font-size: 3em;
  border-bottom: 1px solid;
}

p,
h1,
div {
  margin: 0;
}

div.pomodoro-progress {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100px;
}

div.progress-work,
div.progress-break,
div.progress-finish {
  height: 18px;
  margin: 30px 5px 60px 0px;

  background-color:  rgb(42, 62, 81);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.329);
  border-radius: 4px;
}

div.progress-work {
  width: 75px;
}

div.progress-break {
  width: 20px;
}

div.progress-finish {
  width: 45px;
}

div.pomodoro-timer {
  width: 100%;
  display: flex;
  box-sizing: border-box;

  padding: 50px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

#break-timer {
  border-left: 2px solid;
}

div.timer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.time {
  display: flex;
  font-size: 5.5em;
  font-weight: 100;
  margin-bottom: 20px;
}

p.message-status {
  font-weight: 200;
  font-size: 20px;
}

div.buttons-painel {
  display: flex;
  justify-content: center;

}

button.btn {
  margin: 10px;
  padding: 10px 35px;

  border-radius: 50px;
  border: 1px solid #a1dbf1;

  background-color: rgb(42, 62, 81);
  color: #a1dbf1;
  font-size: 20px;

  outline: none;
  transition: 0.2s;
}

button.btn:hover {
  border-color: #71d5e4;
  color: #71d5e4;
}

button.btn:active {
  background-color: rgb(30, 50, 70);
  opacity: 0.9;
}
