* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(42, 62, 81);
  color: #eee;
  font-family: "Roboto", sans-serif;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  min-width: 500px;
}

p,
div {
  margin: 0;
}

div.pomodoro-progress {
  display: flex;
  justify-content: center;
  visibility: hidden;

}

div.progress-work,
div.progress-break,
div.progress-finish {
  height: 10px;
  margin: 0px 1px;
  border-radius: 2px;
}

div.progress-work {
  width: 25px;
  background-color: #71d5e4;
}

div.progress-break {
  width: 5px;
  background-color: #d9ced6;
}

div.progress-finish {
  width: 10px;
  background-color: #d9ced6;
}

div.pomodoro-timer {
  width: 60%;
  display: flex;
  margin: auto;
}

div.timer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

div.time {
  display: flex;
  font-size: 3em;
  font-weight: 600;
}

p.message-status {
  font-weight: 200;
  font-size: 12px;
}

div.buttons-painel {
  display: flex;
  justify-content: center;
}

button.btn {
  margin: 10px;
  padding: 4px 15px;

  border-radius: 15px;
  border: 1px solid #a1dbf1;

  background-color: rgb(42, 62, 81);
  color: #a1dbf1;
  font-weight: 200;
  font-size: 11px;

  outline: none;
}

button.btn:hover {
  border-color: #71d5e4;
  color: #71d5e4;
}

button.btn:active {
  background-color: rgb(30, 50, 70);
}
